@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');
@import "./breakpoints";


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #484848;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

#root {
  position: relative;
  height: 100%;
}

a {
  background-color: transparent;
  color: inherit;
}

a, abbr {
  text-decoration: none;
}

*, :hover, :active, :focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}


button, input, optgroup, select, textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  line-height: inherit;
  color: inherit;
  letter-spacing: inherit;
}
.overflow-hidden{overflow: hidden}
#modal-root {
  display: none;
  width: 100%;
  z-index: 999;

  .modal-active & {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    .modal-background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}

.button {
  padding: 16px 32px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color .2s ease-in;
  cursor: pointer;

  &.basic {
    color: white;
    background-color: #434852;

    &:hover {
      background-color: rgba(67, 72, 82, 0.85);
    }
  }
}

.eurowings {
  display: flex;
  flex-direction: column;

  #app-content {
    padding-top: 36px;

    .main-container {
      position: relative;
      display: flex;

      &__wrap {
        margin: 0 auto;
        position: relative;
        max-width: 1760px;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @media only screen and (min-width: $screen-md) {
          padding-left: 40px;
          padding-right: 40px;
        }
        @media only screen and (min-width: $screen-lg) {
          padding-left: 80px;
          padding-right: 80px;
        }

        .images {
          width: 100%;
          display: flex;
          flex-direction: column;

          &__header {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              font-size: 12px;
              font-weight: 600;
            }

            h3 {
              font-size: 36px;
              margin: 0;
              padding: 0;

              span {
                background-color: #1bb76e;
                padding: 2px 8px;
                font-weight: 700;
                color: white;
                border-radius: 4px;
              }
            }

            button {
              font-size: 14px;
              font-weight: 600;
              display: flex;
              align-items: center;
              color: rgba(67, 72, 82, 0.71);
              border-radius: 4px;
              box-shadow: 0 0 0 1px #e7e7e9 inset;
              padding: 8px 16px;
              cursor: pointer;
              -webkit-transition: all 200ms ease;
              transition: all 200ms ease;

              &:hover {
                background-color: #f3f4f4;
                box-shadow: none;
              }

              &.active {
                background-color: #f3f4f4;
                box-shadow: none;
              }

              svg {
                height: 16px;
                margin-right: 5px;
              }
            }
          }
          &__container{
            padding: 0;
            margin-left: -8px;
            margin-right: -8px;
          }
        }

      }
    }
  }
}

.ew-checkbox {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 15px;
  display: flex;
  align-items: center;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ {
      .ew-checkbox__indicator {
        background: #1bb76e;

        &:after {
          display: block;
        }
      }
    }
  }

  &__indicator {
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
    background: #e6e6e6;
    border-radius: 2px;

    &:after {
      left: 5px;
      top: 2px;
      width: 3px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      display: none;
      content: '';
      position: absolute;
    }
  }
}
